/* Main Reversi Styles */

body {
  background-color: white;
}

.mt-5 {
  margin-top: 5 !important;
}

.mb-5 {
  margin-bottom: 5 !important;
}

.pt-4 {
  padding-top: 4 !important;
}

.pb-4 {
  padding-bottom: 4 !important;
}

.page-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 80%;
  font-weight: 200;
  color: rgb(27,20,100);
}

.reversi-title {
  font-family: 'Marcellus SC', serif;
  font-size: 500%;
  font-weight: 400;
  text-align: center;
  color: rgb(161,34,139);
}

.form-btn {
  margin-left: 10px;
  background-color: rgb(27,20,100);
  border-color: rgb(27,20,100);
  color: white;
}

.form-btn:hover {
  background-color: rgb(161,34,139);
  border-color: rgb(161,34,139);
  color: white;
}

footer a {
  color: rgb(161,34,139);
}

footer a:hover {
  color: rgb(161,34,139);
}

h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 400%;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  font-weight: 200;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 200;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 200;
}

/* Index */


.index-sub-title {
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 200;
  color: rgb(27,20,100);

}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 200;
  color: rgb(161,34,139);
}

.button-color {
  color: rgb(161,34,139);
}

.background-footer {
  background-color: rgb(27,20,100);
}
